{# This page is built with nunjucks! #} {% set title = 'Home' %} {% extends
"layout.njk" %} {% block body %}

<!-- Hero -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-100 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div
      class="
        relative
        z-10
        pb-8
        bg-gray-100
        sm:pb-16
        md:pb-20
        lg:max-w-2xl lg:w-full lg:pb-28
        xl:pb-32
      "
    >
      <svg
        class="
          hidden
          lg:block
          absolute
          right-0
          inset-y-0
          h-full
          w-48
          text-gray-100
          transform
          translate-x-1/2
        "
        fill="currentColor"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        aria-hidden="true"
      >
        <polygon points="50,0 100,0 50,100 0,100" />
      </svg>

      <div>
        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
          <nav
            class="
              relative
              flex
              items-center
              justify-between
              sm:h-10
              lg:justify-start
            "
            aria-label="Global"
          >
            <div
              class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0"
            >
              <div class="flex items-center justify-between w-full md:w-auto">
                <a href="#">
                  <span class="sr-only">Logo</span>
                  <img
                    class="h-32 w-auto mt-14 sm:h-30"
                    src="./static/mficlogo.svg"
                  />
                </a>
                <div class="-mr-2 flex items-center md:hidden">
                  <button
                    type="button"
                    class="
                      bg-white
                      rounded-md
                      p-2
                      inline-flex
                      items-center
                      justify-center
                      text-gray-400
                      hover:text-gray-500 hover:bg-gray-100
                      focus:outline-none
                      focus:ring-2
                      focus:ring-inset
                      focus:ring-indigo-500
                    "
                    aria-expanded="false"
                  >
                    <span class="sr-only">Open main menu</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
              <a href="#" class="font-medium text-gray-500 hover:text-gray-900">
                Services
              </a>

              <a href="#" class="font-medium text-gray-500 hover:text-gray-900">
                Projects
              </a>

              <a href="#" class="font-medium text-gray-500 hover:text-gray-900">
                Contact
              </a>
            </div>
          </nav>
        </div>

        <!--
      Mobile menu, show/hide based on menu open state.

      Entering: "duration-150 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
        <div
          class="
            absolute
            top-0
            inset-x-0
            p-2
            transition
            transform
            origin-top-right
            md:hidden
          "
        >
          <div
            class="
              rounded-lg
              shadow-md
              bg-white
              ring-1 ring-black ring-opacity-5
              overflow-hidden
            "
          >
            <div class="px-5 pt-4 flex items-center justify-between">
              <div>
                <img class="h-8 w-auto" src="./static/mficlogo.svg" alt="" />
              </div>
              <div class="-mr-2">
                <button
                  type="button"
                  class="
                    bg-white
                    rounded-md
                    p-2
                    inline-flex
                    items-center
                    justify-center
                    text-gray-400
                    hover:text-gray-500 hover:bg-gray-100
                    focus:outline-none
                    focus:ring-2
                    focus:ring-inset
                    focus:ring-indigo-500
                  "
                >
                  <span class="sr-only">Close main menu</span>
                  <!-- Heroicon name: outline/x -->
                  <svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              </div>
            </div>
            <div class="px-2 pt-2 pb-3 space-y-1">
              <a
                href="#"
                class="
                  block
                  px-3
                  py-2
                  rounded-md
                  text-base
                  font-medium
                  text-gray-700
                  hover:text-gray-900 hover:bg-gray-50
                "
              >
                Services
              </a>

              <a
                href="#"
                class="
                  block
                  px-3
                  py-2
                  rounded-md
                  text-base
                  font-medium
                  text-gray-700
                  hover:text-gray-900 hover:bg-gray-50
                "
              >
                Projects
              </a>

              <a
                href="#"
                class="
                  block
                  px-3
                  py-2
                  rounded-md
                  text-base
                  font-medium
                  text-gray-700
                  hover:text-gray-900 hover:bg-gray-50
                "
              >
                Contact
              </a>
            </div>
          </div>
        </div>
      </div>

      <main
        class="
          mt-10
          mx-auto
          max-w-7xl
          px-4
          sm:mt-12 sm:px-6
          md:mt-16
          lg:mt-20 lg:px-8
          xl:mt-28
        "
      >
        <div class="sm:text-center lg:text-left">
          <h1
            class="
              text-4xl
              tracking-tight
              font-extrabold
              text-gray-900
              sm:text-5xl
              md:text-6xl
            "
          >
            <span class="block xl:inline">
              MFIC
              <br />
              Management
            </span>
          </h1>
          <p
            class="
              mt-3
              text-base text-gray-500
              sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto
              md:mt-5 md:text-xl
              lg:mx-0
            "
          >
            Applying the disciplines of bespoke residential design and
            construction along with private portfolio asset management to our
            clients' most valuable asset:
            <span class="block font-bold text-primary xl:inline">
              their home
            </span>
          </p>
        </div>
      </main>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img
      class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
      src="./static/house.png"
      alt=""
    />
  </div>
</div>

<!-- Services -->
<div class="bg-gray-100 overflow-hidden js-show-on-scroll" id="services">
  <div class="relative max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 md:">
    <div class="relative lg:grid lg:grid-cols-3 lg:gap-x-8 \">
      <div class="lg:col-span-1">
        <h2
          class="
            text-4xl
            font-extrabold
            tracking-tight
            text-center text-gray-900
            uppercase
            sm:text-5xl sm:text-left
          "
        >
          <span class="block font-bold text-primary xl:inline">!</span>
          Services
        </h2>
      </div>
      <dl
        class="
          mt-10
          space-y-10
          bg-gray-100
          sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-8 sm:gap-y-10
          lg:mt-0 lg:col-span-2
        "
      >
        <div>
          <dt>
            <div
              class="
                flex
                items-center
                justify-center
                h-12
                w-12
                rounded-md
                bg-primary
                text-white
              "
            >
              <!-- Heroicon name: outline/globe-alt -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
                />
              </svg>
            </div>
            <p class="mt-5 text-lg leading-6 font-medium text-gray-900">
              Owners Representation
            </p>
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Consequuntur omnis dicta cumque, inventore atque ab dolores
            aspernatur tempora ab doloremque.
          </dd>
        </div>
        <div>
          <dt>
            <div
              class="
                flex
                items-center
                justify-center
                h-12
                w-12
                rounded-md
                bg-primary
                text-white
              "
            >
              <!-- Heroicon name: outline/scale -->
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"
                />
              </svg>
            </div>
            <p class="mt-5 text-lg leading-6 font-medium text-gray-900">
              Project Management
            </p>
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Corporis quisquam nostrum nulla veniam recusandae temporibus aperiam
            officia incidunt at distinctio ratione.
          </dd>
        </div>
        <div>
          <dt>
            <div
              class="
                flex
                items-center
                justify-center
                h-12
                w-12
                rounded-md
                bg-primary
                text-white
              "
            >
              <!-- Heroicon name: outline/lightning-bolt -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"
                />
              </svg>
            </div>
            <p class="mt-5 text-lg leading-6 font-medium text-gray-900">
              Development
            </p>
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Omnis, illo delectus? Libero, possimus nulla nemo tenetur adipisci
            repellat dolore eligendi velit doloribus mollitia.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<!-- Strategic Partners -->
<div class="bg-primary-80 bg-opacity-25" id="partners">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:px-8">
    <h2
      class="
        text-4xl
        font-extrabold
        tracking-tight
        text-gray-900 text-center
        uppercase
        sm:text-5xl
      "
    >
      <span class="block font-bold text-primary xl:inline">!</span>
      <span class="">Projects</span>
    </h2>
    <div
      class="sm:grid sm:grid-cols-2 sm:gap-1"
      x-data="{ array: new Array(2).fill({ showOverlay: false }) }"
    >
      <template x-for="el in array">
        <div
          class="relative"
          x-data="{ seed: Math.random(), item: {...el} }"
          @mouseover="item.showOverlay = true"
          @mouseover.away="item.showOverlay = false"
        >
          <div class="">
            <img
              class="h-full w-full object-cover"
              x-bind:src="`https://source.unsplash.com/random/500x500/?house&sig=${seed}`"
              alt=""
            />
          </div>
          <div
            class="
              absolute
              bottom-0
              left-0
              m-2
              md:m-5
              z-10
              text-xl
              md:text-3xl
              lg:text-5xl
              text-white
              font-semibold
            "
            x-show="item.showOverlay"
            x-transition:enter="transition transform ease-out duration-500 "
            x-transition:enter-start="opacity-0 "
            x-transition:enter-end="opacity-100  "
            x-transition:leave="transition transform ease-in duration-500 "
            x-transition:leave-start="opacity-100 "
            x-transition:leave-end="opacity-0"
          >
            <span
              class="bg-gray-300 bg-opacity-75 rounded-lg px-3"
              x-text="seed.toFixed(3)"
            ></span>
          </div>
        </div>
      </template>
    </div>
    <div
      class="sm:grid sm:grid-cols-4 sm:gap-1 mt-1"
      x-data="{ array: new Array(8).fill({ showOverlay: false }) }"
    >
      <template x-for="el in array">
        <div
          class="relative"
          x-data="{ seed: Math.random(), item: {...el} }"
          @mouseover="item.showOverlay = true"
          @mouseover.away="item.showOverlay = false"
        >
          <div class="">
            <img
              class="h-full w-full object-cover"
              x-bind:src="`https://source.unsplash.com/random/500x500/?house&sig=${seed}`"
              alt=""
            />
          </div>
          <div
            class="
              absolute
              bottom-0
              left-0
              m-2
              md:m-5
              z-10
              text-xl
              md:text-3xl
              lg:text-5xl
              text-white
              font-semibold
            "
            x-show="item.showOverlay"
            x-transition:enter="transition transform ease-out duration-500 "
            x-transition:enter-start="opacity-0 "
            x-transition:enter-end="opacity-100  "
            x-transition:leave="transition transform ease-in duration-500 "
            x-transition:leave-start="opacity-100 "
            x-transition:leave-end="opacity-0"
          >
            <span
              class="bg-gray-300 bg-opacity-75 rounded-lg px-3"
              x-text="seed.toFixed(3)"
            ></span>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
<!-- Contact -->
<div class="relative bg-gray-100" id="contact">
  <div class="absolute inset-0">
    <img
      class="w-full h-full object-cover"
      src="./static/contact-crop.jpg"
      alt=""
    />
    <div
      class="absolute inset-0 bg-gray-700 mix-blend-multiply"
      aria-hidden="true"
    ></div>
  </div>
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1
      class="
        text-4xl
        font-extrabold
        tracking-tight
        text-primary text-center
        sm:text-5xl
        lg:text-6xl
        sm:text-left
      "
    >
      <span class="block font-bold text-primary xl:inline">!</span>
      Contact Us
    </h1>
    <h2
      class="
        mt-6
        text-2xl text-gray-100
        max-w-3xl
        text-center
        sm:text-left
        md:ml-32 md:text-3xl
      "
    >
      <a href="mailto:inquiry@190capital.com">inquiry@190capital.com</a>
    </h2>
  </div>
</div>
<!-- Footer -->
<footer class="bg-gray-100">
  <div
    class="
      max-w-7xl
      mx-auto
      py-12
      px-4
      sm:px-6
      md:flex md:items-center md:justify-between
      lg:px-8
    "
  >
    <div class="flex justify-center space-x-6 md:order-2">
      <p class="text-gray-400">
        <a href="mailto:inquiry@190capital.com">inquiry@190capital.com</a>
      </p>
    </div>
    <div class="mt-8 md:mt-0 md:order-1">
      <p class="text-center text-base text-gray-400">
        &copy; 2020 190Capital Management. All rights reserved.
      </p>
    </div>
  </div>
</footer>

{% endblock %}
